//  line-clamp обрізка тексту по рядкам  //
@mixin line-clamp($lines: 1) {
    @if $lines <=1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
    }
}

//   адаптив  //
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==min {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

//   адаптив  в горизонтальному положенні //
@mixin mq-horizontal($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==min {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) and (orientation: landscape) {
            @content;
        }
    }
}

// pseudo element //
@mixin pseudo($display: block, $pos: absolute, $content: "") {
    content: $content;
    display: $display;
    position: $pos;
}

// адаптивний шрифт //
$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//-------------------------------------------------------------------------------//

// адаптивний padding//
$maxWidth: 1920;

@mixin padding($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    padding: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// адаптивний padding top //
$maxWidth: 1920;

@mixin padding-top($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    padding-top: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// адаптивний padding bottom //
$maxWidth: 1920;

@mixin padding-bottom($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    padding-bottom: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// адаптивний padding left //
$maxWidth: 1920;

@mixin padding-left($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    padding-left: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// адаптивний padding right //
$maxWidth: 1920;

@mixin padding-right($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    padding-right: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//-------------------------------------------------------------------------------------//

// адаптивний margin //
$maxWidth: 1920;

@mixin margin($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    margin: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// адаптивний margin left //
$maxWidth: 1920;

@mixin margin-left($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    margin-left: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// адаптивний margin right //
$maxWidth: 1920;

@mixin margin-right($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    margin-right: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// адаптивний margin top //
$maxWidth: 1920;

@mixin margin-top($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    margin-top: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// адаптивний margin bottom //
$maxWidth: 1920;

@mixin margin-bottom($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    margin-bottom: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//---------------------------------------------------------------------//
// hover крім мобілок //
@mixin hover {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }
}

// сховати чекбокс //
@mixin checkbox-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

// background img //
@mixin img-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// absolut-center
@mixin absolut-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}