.header {
    background-color: var(--color-black);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 23px 0;

        @include mq('tablet-sm') {
            padding: 10px 0;
        }

        @include mq('mobile') {}
    }

    &__search {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: var(--color-black);
        border-radius: var(--rounded);
        transition: box-shadow var(--transition);

        @include mq('tablet-sm') {
            margin-left: auto;
        }

        @include mq('mobile') {}

        &:focus {
            box-shadow: 0 0 0 2px var(--color-white);
        }

        @include hover {
            .header__search-icon {
                fill: var(--color-accent);
            }
        }

        &:active {
            opacity: 0.8;
        }
    }

    &__search-icon {
        fill: var(--color-white);
        transition: fill var(--transition);
    }
}