.header {
    background-color: rgb(163, 188, 193);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 10px 0;
    }
}