.menu {
    color: var(--color-white);
    font-weight: 500;
    z-index: 100;

    @include mq("tablet-sm") {
        display: block;
        position: fixed;
        top: 64px;
        right: -200%;
        height: calc(100% - 64px);
        width: 100%;
        padding: 50px 10px;
        background-color: silver;
        font-size: 32px;
        overflow: auto;
        transition: right 0.4s ease-in-out;

        &.is-open {
            right: 0px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @include mq("tablet-sm") {
            display: block;
            text-align: center;
        }
    }

    &__link {
        padding: 5px 15px;
        border-radius: var(--rounded);
        transition:
            color var(--transition),
            opacity var(--transition),
            box-shadow var(--transition);

        @include mq("tablet-sm") {
            display: inline-block;
            width: 100%;
            padding: 15px;
        }

        &:focus {
            box-shadow: 0 0 0 2px var(--color-white);
        }

        @include hover {
            color: var(--color-accent);
        }

        &:active {
            opacity: 0.8;
        }
    }

    &__link--active {
        color: var(--color-accent);
    }


}