.most-popular {
    margin-bottom: 80px;

    @include mq('tablet-sm') {
        margin-bottom: 50px;
    }

    @include mq('mobile') {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        overflow-x: auto;

        @include mq('tablet') {
            gap: 15px;
        }
    }
}