.posts {
    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 30px;
        margin-bottom: 70px;
    }

    &__wrapper {
        grid-column: span 8;
    }

    &__item {
        padding-bottom: 120px;

        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }

    &__aside {
        grid-column: 10 / 13;
    }
}